@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-arrow-circle-down"></span> Withdrawl</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-bolt"></span> Quick Cash $100</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-question-circle"></span> Balance Inquiry</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-print"></span> Print Statement</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-exchange"></span> Transfer funds</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="fa fa-arrow-circle-up"></span> Deposit</a>
    </div>
</div>

@section scripts {
    <script>var testing = true;</script>
}
@*
    You are using @Request.Browser.Browser, and that's OK!

    @{ var amounts = new List<Decimal> { 100, 25.50m, -40, 275.99m }; }

    <ul>
        @foreach(decimal amount in amounts)
        {
            <li>@formatAmout(amount)</li>
        }
    </ul>

        @helper formatAmout(decimal amount)
        {
            var color = "green";
            if (amount < 0)
        {
            color = "red";
        }
        <span style="color:@color">@String.Format("{0:c}", amount)</span>
    }
*@